h1 {
    text-align: center;
    color: white;
    font-size: 150%;
}

body {
    background-color:blueviolet;
}

/*div {
    background-color: white;
}*/

#img1{
    display:inline;
    float:left;
    margin-right:10%;
    margin-left:10%;
    margin-top:5%;
    height:15%;
    width:15%;
}

#img2 {
    display: inline-block;
    float: right;
    margin-right: 25%;
    margin-left: 10%;
    margin-top: 5%;
    height: 10%;
    width: 10%;
}

#Projects{
    display:block;
    color:white;
    font-size:25px;
    float:right;
    width:1260px;
    background-color:crimson;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    text-align:center;
    transition:0.3s;
    border:5px solid white;
    padding:10px;
}

#Projects:hover{
    background-color:cadetblue;
    color:azure;
}