h1 {
    text-align: center;
    color: white;
    font-size: 150%;
}

body {
    background-color:darkgrey;
}

/*div {
    background-color: white;
}*/

/*img {
    display: table;
    float: left;
    margin-right: 50px;
    margin-left: 450px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
}*/

#img1{
    display:inline;
    float:left;
    margin-right:10%;
    margin-left:10%;
    margin-top:5%;
    height:15%;
    width:15%;
    /*padding:5px;*/
}

#img2 {
    display: inline-block;
    float: right;
    margin-right: 18%;
    margin-left: 10%;
    margin-top: 5%;
    height: 15%;
    width: 15%;
    /*padding: 5px;*/
}

#img3 {
    display: inline-block;
    float: right;
    margin-right: 7%;
    margin-left: 5%;
    margin-top: 5%;
    height: 15%;
    width: 10%;
    /*padding: 5px;*/
}

#Skills {
    display: block;
    /*display:table;*/
    color: white;
    font-size: 25px;
    float: right;
    width: 1260px;
    background-color:royalblue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;
    border: 5px solid white;
}

#Skills:hover{
    background-color:plum;
    color:black;
}